@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
}
body {
  background-image: url('https://yalantis.com/uploads/ckeditor/pictures/2916/dribble_perfect.gif');
  background-repeat: no-repeat;
  background-size: 100% 200%;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  height: 90vh;
  padding: 2rem;
}

h1 {
  margin: 2rem;
}

.board {
  border: 1rem solid #2f98df;
  background: #03927f;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.squares {
  background: #272727;
  border: none;
  font-size: 5rem;
  cursor: pointer;
}

.X {
  color: red;
}
.O {
  color: green;
}

.info {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 1rem;
}

li {
  list-style: none;
}

.info button {
  background: #272727;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}